apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "laravel-app.fullname" . }}-network-policy
  labels:
    {{- include "laravel-app.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "laravel-app.selectorLabels" . | nindent 6 }}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - namespaceSelector: {}
  egress:
    - to:
        - podSelector:
            matchLabels:
              app: {{ include "laravel-app.fullname" . }}-mysql
      ports:
        - protocol: TCP
          port: 3306
    - to:
        - podSelector:
            matchLabels:
              app: {{ include "laravel-app.fullname" . }}-redis
      ports:
        - protocol: TCP
          port: 6379
    - to:
        - namespaceSelector:
            matchLabels:
              name: kube-system
      ports:
        - protocol: UDP
          port: 53
    - {}

