version: "3.9"

services:
  app:
    build:
      context: ./docker/php-fpm
    container_name: laravel-app-php
    working_dir: /var/www/html
    volumes:
      - ./src:/var/www/html
    env_file:
      - ./src/.env
    depends_on:
      - db
      - redis

  nginx:
    build:
      context: ./docker/nginx
    container_name: laravel-app-nginx
    ports:
      - "8082:80"
    volumes:
      - ./src:/var/www/html:ro
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: laravel-app-mysql
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  redis:
    image: redis:alpine
    container_name: laravel-app-redis
    ports:
      - "6379:6379"

volumes:
  db_data: {}


